*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #191919;
    color: rgb(247, 247, 247);
    text-align: center;
    font-family: Verdana;
}

.centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/*---------- HEADER ----------*/

nav{
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #1e6ee6;
}

nav a{
    text-decoration: none;
    color: #dbdbdb;
    width: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    color: #c3dfff;
}

a:hover{
    background-color: grey;
    transition: background-color 0.2s ease-in-out;
}


/*----------BODY, CAIXAS DE TEXTO, FORMATAÇÃO, ETC.----------*/

h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

h2{
    margin-bottom: 15px;
}


.caixa-texto{
	background: #020a1c;
	border: 3px solid #e7a515;
	border-radius: 8px;
	padding: 15px 18px;
	color: white;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}
.caixa-texto .titulo{
	background: #e7a515;
	border-radius: 8px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
}
.caixa-texto .conteudo{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #020a1c;
	padding-top: 10px;
	text-align: justify;
    gap: 20px;
	color: white;
}


/*----------FOOTER----------*/

footer{
    margin-top: 100px;
    margin-bottom: 30px;
}